@import "variables"; //пишем переменные

.row {
    -moz-column-width: 25em;
    -webkit-column-width: 25em;
    -moz-column-gap: 10px;
    -webkit-column-gap:10px; 
}

@import "reset"; //сборс стилей
@import "fonts"; //подключаем шрифты

//подключаем основные стили сайта(блоки)
@import "blocks/header";
@import "blocks/popup";